<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Index deck page</title>
		<link rel="stylesheet" href="/css/style.css"/>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/font_open_sans_condensed_700.css">
	</head>
	<body>
		<div class="container">
		  <div class="row" style="height:230px;">
			<div class="col" style="padding-top: 35px;">				
				<div class="row" style="margin-bottom: 27px;">
					<div class="col interactiveIcons" data-icon="1">
						<img id="icon01" src="/img/icon01.png" style="max-width:100%;">
					</div>
					<div class="col interactiveIcons" data-icon="2">
						<img src="/img/icon02.png" style="max-width:100%;">
					</div>
				</div>
				<div class="row" style="margin-bottom: 27px;">
					<div class="col interactiveIcons" data-icon="3">
						<img src="/img/icon03.png" style="max-width:100%;">
					</div>
					<div class="col interactiveIcons" data-icon="4">
						<img src="/img/icon04.png" style="max-width:100%;">
					</div>
				</div>
				<div class="row">
					<div class="col interactiveIcons" data-icon="5">
						<img src="/img/icon05.png" style="max-width:100%;">
					</div>
					<div class="col interactiveIcons" data-icon="6">
						<img src="/img/icon06.png" style="max-width:100%;">
					</div>
				</div>
			</div>
			<div class="col ping">
				<a href="/status">
					<img src="/img/DeckIcon.png" style="margin-left: 7px;margin-top: 81px;width: 184px;">
				</a>
			</div>
			<div class="col" style="padding-top: 35px;">				
				<div class="row" style="margin-bottom: 27px;">
					<div class="col interactiveIcons" data-icon="7">
						<img src="/img/icon07.png" style="max-width:100%;">
					</div>
					<div class="col interactiveIcons" data-icon="8">
						<img src="/img/icon08.png" style="max-width:100%;">
					</div>
				</div>
				<div class="row" style="margin-bottom: 27px;">
					<div class="col interactiveIcons" data-icon="9">
						<img src="/img/icon09.png" style="max-width:100%;">
					</div>
					<div class="col interactiveIcons" data-icon="10">
						<img src="/img/icon10.png" style="max-width:100%;">
					</div>
				</div>
				<div class="row">
					<div class="col interactiveIcons" data-icon="11">
						<img src="/img/icon11.png" style="max-width:100%;">
					</div>
					<div class="col interactiveIcons" data-icon="12">
						<img src="/img/icon12.png" style="max-width:100%;">
					</div>
				</div>
			</div>
		  </div>
		  
		</div>
		<script src="/js/jquery-3.5.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/script.js"></script>
		
	</body>
</html>